* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Bahij Janna';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #f7f8fb;
  color: #9c98b4;
  text-rendering: optimizeLegibility;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
a {
  font: inherit;
}

section {
  padding: 10rem 0;
}
