@font-face {
  font-family: 'Bahij Janna';
  src: url('../Assets/Fonts/bahij-janna/Bahij Janna-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bahij Janna';
  src: url('../../Assets/Fonts/bahij-janna/Bahij Janna-Bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
}
